<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

    <style>
    .fileinput-remove,
    .fileinput-upload{
        display: none;
    }
    #loader_privileges.loader_1 {
        display: block;
    }
    /* #loader {
        display: none;
        position: fixed;
        top: 20%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 120px;
        background: url(/images/loading.gif) no-repeat center center;
        z-index: 99999;
        text-align: center;
        background-position: 50% 60%;
        height: 90px;
        margin: 0 auto;
    } */
    #loader_privileges {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: 99999;
        height: 100%;
        background: rgba(0, 0, 0, 0.65);
    }
    #loader_box{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .loader_text {
        width: 480px;
        text-align: center;
        background-position: 50% 60%;
        height: 180px;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 30px;
    }

</style>
<div id='loader_privileges' class="loader_1">
    <div id="loader_box">
        <div class="loader_text">
            <h5 style="font-size: 22px; font-family: 'Work Sans Regular';line-height: 36px;">Please wait</h5>
            <p style="margin: 10px 0;">Do not press back, while we process your request</p>
            <img src="{{ asset('/fading-squares.gif')}}" alt="Please wait...">
        </div>
    </div>
</div>
<script>
    $(window).on('load', function () {
        $('#loader_privileges').fadeOut();
    });
</script>
</body>
</html>
