<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

    <style>
    .fileinput-remove,
    .fileinput-upload{
        display: none;
    }
    /* #loader {
        display: none;
        position: fixed;
        top: 20%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 120px;
        background: url(/images/loading.gif) no-repeat center center;
        z-index: 99999;
        text-align: center;
        background-position: 50% 60%;
        height: 90px;
        margin: 0 auto;
    } */
    #loader_privileges {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: 99999;
        height: 100%;
        background: rgba(0, 0, 0, 0.65);
    }
    #loader_box{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .loader_text {
        width: 480px;
        text-align: center;
        background-position: 50% 60%;
        height: 180px;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 30px;
    }

</style>
<div id='loader_privileges'>
    <div id="loader_box">
        <div class="loader_text">
            <h5 style="font-size: 22px; font-family: 'Work Sans Regular';line-height: 36px;">Please wait</h5>
            <p style="margin: 10px 0;">Do not press back, while we process your request</p>
            <img src="{{ asset('/fading-squares.gif')}}" alt="Please wait...">
        </div>
    </div>
</div>
<div class="form-input">
<input type="text" name="emp_mobile" onkeyup="phone_validate(this.value)" id="phone_number" minlength="11" maxlength="11" title="Please type phone number 11 digit" placeholder="Phone Number" required="">
<label for="phone_number">Phone Number</label>
<p class="error_Msg"></p>
<p class="valid_Msg"></p>
</div>
<script>
function phone_validate(mobilephoneno){
        var data1 = document.getElementById("phone_number").value;
        var checkPattern =new RegExp(/(013|014|015|016|017|018|019)\d{8}/);
        var valid = checkPattern.test(mobilephoneno);
        var count_word = data1.length;
        if(count_word > 1){
            if(valid){
                    $(".error_Msg").text("");
                    $(".valid_Msg").text("Valid number OK");
                    console.log('Valid:', data1);
            }
            else{
                var str = mobilephoneno;
                var strFirstThree = str.substring(0,2);
                if(strFirstThree !='01'){
                    $(".valid_Msg").text("");
                    $(".error_Msg").text("Please Start with 01");
                    console.log('Wrong :'+str);
                }else{
                    console.log('Correct :'+str);
                    $(".valid_Msg").text("");
                    $(".error_Msg").text('Invalid : '+data1);
                }
            }
        }else{
            $(".error_Msg").text("");
            $(".valid_Msg").text('');
        }
    }


    // loader
    $( "form" ).submit(function() {
        // $('#loader').text("Please wait..");
        $('#loader_privileges').show();
    });

</script>
</body>
</html>
